@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main{
    display: flex;
}

#sidebar{
    height: 100vh;
    width: 20%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
}

#sidebar>img{
   
    margin: 40px 0px 0px 24px;
}
#sidebar>ul{
    list-style-type: none;
}

#sidebar>ul>li{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}

#sidebar>ul>li>img{
    padding-right: 16px;
    stroke: currentColor;
    width: 45px;
    height: 45px;
}

#main-scroll{
    height: 100vh;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px;
    position: relative;
}

#stories-section{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story>p{
    color: #262626;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
}
.stories-img{
    background: url("./Assets/storyframe.svg") no-repeat center;
    background-size: contain;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.stories-img>img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}


footer{
    width: 319px;
   
    position: absolute;
    top: 51px;
    right: 46px;
}

#user-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile-left>img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 17px;
}

#user-profile-left>div>h4{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#user-profile-left>div>p{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
}

#user-profile>a{
    color: #0095f6;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
    padding-inline: 20px;
}

#footer-suggestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40% ;
}

#footer-suggestion>h5{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#footer-suggestion>a{
    color: #262626;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    line-height: 16px;
}
#user-sugg{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggdiv-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.sugg-userimg{
    width: 32px;
    height: 32px;
    background: #2d2d2d;
    border-radius: 50%;
    margin-left: 4px;
}

.suggdiv-left>div>h4{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.suggdiv-left>div>p{
    color: #8e8e8e;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.suggdiv>a{
    color: #0095f6;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;

}

#footer-link>a{
    color: #c7c7c7;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

#footer-copyright{
    color: #c7c7c7;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}

.post{
    width: 460px;
    margin-left: 10%;
    margin-top: 32px;
}

.post-header{
    padding: 8px 0px 8px 5px;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.post-header>div{
    display: flex;
    align-items: center;
}

.user-img{
    background: url("./Assets/storyframe.svg");
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.user-img>img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header-username{
    margin-left: 10px;
    margin-right: 4.06px;
}

.header-time{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
    margin-left: 6px;
}


.post-img>img{
    width: 100%;
}

.post-buttons{
    display: flex;
    margin-top: 4px;
    width: 100%;
    height: 46px;
    justify-content: space-between;
    align-items: center;
}

.post-buttons>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.post-footer{
    padding-bottom: 21px;
    border-bottom: 1px solid #DBDBDB;

}

.likes{
    color: #262626;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.caption{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
}

.trans{
    margin-top: 6px;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.comment{
    margin-top: 5px;
    color: #8e8e8e;
    font-size: 13px;
    line-height: 18px;
}

.post-footer>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.post-footer>div>p{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width:1102px){
    footer{
        display: none;
    }
    .post{
        margin-left: 5%;
    }
}